<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="CPMS" connectionString="Data Source=Megatron53\SQLEXPRESS; Initial Catalog=CPMS; Integrated Security=SSPI; Connection Timeout=300;" />
  </connectionStrings>
  <system.web>
    <sessionState timeout="300" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages theme="CPMS" styleSheetTheme="CPMS">
      <controls>
        <add tagPrefix="reb" tagName="DropDownListState" src="~/WebUserControls/DropDownListState.ascx" />
        <add tagPrefix="reb" tagName="DropDownListScore" src="~/WebUserControls/DropDownListScore.ascx" />
      </controls>
    </pages>
    <siteMap>
      <providers>
        <add name="SiteMapAdministrator" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Administrator/Web.sitemap" />
        <add name="SiteMapReviewer" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Reviewer/Web.sitemap" />
        <add name="SiteMapAuthor" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Author/Web.sitemap" />
      </providers>
    </siteMap>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

</configuration>
